SQUEEK!

- if user_signed_in?
  = render partial: "squeeks/new"
- else
  %p Sign in or Sign up to post a squeek


%ul.squeeks
  - @squeeks.each do |squeek|
    - if squeek.friends_only and squeek.user != current_user
      - if squeek.user.consumers.include? current_user
        = render squeek
    - else
      = render squeek

= paginate @squeeks
