SQUEEK!

- if user_signed_in?
  = render partial: "squeeks/new"
- else
  %p Sign in or Sign up to post a squeek


%ul.squeeks
  - @squeeks.each do |squeek|
    - if squeek.consumers_only?
      -if squeek.viewable_by? current_user
        = render squeek
    - else
      = render squeek

= paginate @squeeks
