.row
  .small-12.columns
    = "@#{@user.username}'s profile"

    = image_tag @user.gravatar_url
.row
  .small-12.columns
    %ul.squeeks
      - @user.squeeks.each do |squeek|
        = render squeek
