@import "foundation";

// image from http://wallpaperose.com/rainbow-orange-background.html
body{
  background: asset-url("Rainbow-Orange-Background.jpg", image)center;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// image from http://pixabay.com/en/tucan-bird-parrot-colorful-beak-155252/
#tucan{
  display: inline;
  position:absolute;
  right: 100px;
}

#title{
  font-family: 'Freckle Face', cursive;
  color: white;
  font-size: 3em;
  text-shadow: 1px 1px rgb(189,0,0);
}

body{font-family: 'ABeeZee', sans-serif;}

.contain-to-grid
  .top-bar{margin-bottom: 20px;}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
application.scss
 *= require_tree .
 */
@import "foundation";